/* main styles*/
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
/* header styles */
header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 2fr 3fr;
    gap: 10px;
    padding: 15px;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search-bar img{
    height: 1.5rem;
    width: 1.5rem;
}

button{
    background-color: white;
    border: none;
}
.search-bar .search-input{
    background-color: #bccbde;
    border-radius: 60px;
    border: none;
    width: 70%;
    align-items: center;
    height: 1.5rem;
}
/* sidebar styles*/
aside{
    background-color: #1E90FF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 1rem;
}
aside .logo{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}
aside .logo .img-icon{
    height: 3rem;
}
aside ul{
    padding: 0;
}
aside ul li{
    list-style: none;
    display: flex;
    gap: 1rem;
}
aside ul li img{
    height: 2rem;
}
header{
    background-color: white;
    grid-column: 2 / 3;
}
main{
    background-color:#bccbde;
}