/* main styles*/
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}
/* header styles */
header{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    grid-column: 2 / 3;
    gap: 10px;
    padding: 15px;
    margin: 10px;
}
/* Search bar section*/
.search-bar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search-bar img{
    height: 1.5rem;
    width: 1.5rem;
}

.search-bar button{
    background-color: white;
    border: none;
}
.search-bar .search-input{
    background-color: #bccbde;
    border-radius: 60px;
    border: none;
    width: 70%;
    align-items: center;
    height: 1.5rem;
}
/* user-info section*/
.user-info{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1rem;
    align-items: center;
}
.user-info img{
    height: 2rem;
    width: 2rem;
}
/* welcome section */
.welcome{
    display: flex;
    gap: 1rem;
}
.welcome img{
    height: 3rem;
    width: 3rem;
}
/* buttons section*/
.buttons{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.buttons button{
    background-color: #1E90FF;
    color: white;
    width: 4rem;
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

/* sidebar styles*/
aside{
    background-color: #1E90FF;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 1rem;
}
aside .logo{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}
aside .logo .img-icon{
    height: 3rem;
}
aside ul{
    padding: 0;
}
aside ul li{
    list-style: none;
    display: flex;
    gap: 1rem;
}
aside ul li img{
    height: 2rem;
}

/* main section styles */
main{
    background-color:#bccbde;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 15px;;
}
.trending{
    grid-column: 2/3;
    grid-row: 2/3;
}